.header {
    background-color: var(--primary-color);
    padding: toRem(16) 0;
}

.logo {
    font-size: toRem(20);
    font-weight: 400;
    white-space: nowrap;
}

.nav .MuiButton-label {
    color: rgba(255, 255, 255, .5);
    font-size: toRem(16);
    font-weight: 400;
    text-transform: none;

    &:hover {
        color: rgba(255, 255, 255, .75);
    }
}

.nav .MuiButton-root:hover {
    background-color: transparent;
}